@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #0f172a;
  color: #e2e8f0;
}

.text_pink {
  color: #db6e8b;
}

.box-item {
  @apply rounded-xl cursor-pointer ease-in duration-100;
}

.box-item h2 {
  @apply ease-in duration-100;
}

.box-item:hover {
  @apply bg-white/10;
}

.box-item:hover h2 {
  color: #db6e8b;
}

a {
  @apply text-white font-bold ease-in duration-100;
}

a:hover {
  color: #db6e8b;
}

ul {
  list-style-type: disc;
  padding-left: 40px;
}

li {
  padding-top: 10px;
}

.text-white {
  color: #fff;
}
